.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px auto;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 768px) { 

    .form {
        width: 360px;
    }
    .ya-form-iframe {
        width: 340px;
    } 
}

